.component-hamster-rockets {
	.hamster-rocket-seat-image-container {
		position: absolute;
		top: 20px;
		left: 84px;
		z-index: -1;

		image-rendering: pixelated;
	}

	.seat-image {
		width: 92px;
	}

	.hamster-rocket {
		position: fixed;
		bottom: -500px;

		transform: translateX(-50%);

		animation: animate-hamster-rocket 3s ease-in-out;

		&.saturn-v .saturn-v {
			display: block;
		}

		&.hamster-9 .hamster-9 {
			display: block;
		}

		.saturn-v {
			display: none;
		}

		.hamster-9 {
			display: none;
		}
	}

	.hamster-rocket-image-container {
		image-rendering: pixelated;
	}

	.rocket-image {
		width: 260px;
	}

	.hamster-rocket-exhaust-image-container {
		position: absolute;
		left: 38px;

		image-rendering: pixelated;
	}

	.exhaust-image {
		width: 184px;
	}

	.component-hamster {
		top: -30px;
		left: 74px;
		z-index: -1;
	}
}

@keyframes animate-hamster-rocket {
	0% {
		bottom: -500px;
	}
	35% {
		bottom: 25%;
	}
	70% {
		bottom: 15%;
	}
	100% {
		bottom: 200%;
	}
}
