.component-hamster-cannon {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.cannon-ball-container {
		width: 100%;
		height: 100%;
	}

	.cannon-container {

		&.show .cannon-image {
			transform: translateY(0);
		}
	}

	.cannon-image {
		position: absolute;
		right: 0;
		bottom: 0;

		width: 170px;

		transform: translateY(100%);
		transition: transform 1s;

		image-rendering: pixelated;
	}

	.cannon-ball {
		position: absolute;
		right: 100px;
		bottom: 100px;

		transform: rotate(-45deg) translate(0%, 100%);
		transition:
			opacity 350ms,
			transform 1500ms;

		&.load {
			transform: rotate(-45deg) translate(0, 0);
		}

		&.fired {
			transition: opacity 350ms;
		}

		&.hide {
			opacity: 0;
		}
	}

	.hamster-image {
		display: none;

		&.show {
			display: block;
		}
	}

	.chatter-name {
		position: absolute;
		top: -25px;
		left: 50%;

		font-family: $fontFamilyBold;
		font-size: 30px;

		@include text-outline(2px);

		transform: translateX(-50%);
	}

	.cannon-smoke {
		position: absolute;
		right: -45px;
		bottom: 70px;

		transform: rotate(-45deg);
	}

	.smoke-image {
		display: none;
		width: 600px;

		&.show {
			display: block;
		}
	}
}
