#elRaptor {
    display: block;
    visibility: 0;
    position: fixed;
    right: 0;
    bottom: calc(-100%);
    width: auto;
    max-height: 40vh;
    background-color: transparent;

    &.active {
        animation: raptor 5s;
    }
}

@keyframes raptor {
    0% {
        right: calc(0%);
        bottom: calc(-100%);
    }

    20% {
        right: calc(0%);
        bottom: calc(0%);
    }

    30% {
        right: calc(0%);
        bottom: calc(-10%);
    }

    100% {
        right: calc(100%);
        bottom: calc(-10%);
    }
}
