.component-weather {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: hidden;

	opacity: 0;
	transition: opacity 650ms;

	&.show {
		opacity: 1;
	}

	&.rain {
		background-color: rgba(25, 45, 53, .25);
	}

	&.storm {
		background-color: rgba(23, 47, 56, .5);
	}

	&.lightning {
		background-color: rgba(255, 255, 255, .85);
	}

	&.rain-fast .weather-rain-drop {
		width: 21px;
		height: 21px;
		background-image: url(data:image/gif;base64,R0lGODlhBwAHALMAAP//////AP8A//8AAAD//wD/AAAA/wAAABBgaEBsaHB4aP///wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAHAAcAAAQNEK1Jl6wz4byX3kqnRAA7);
		background-size: 21px 21px;
	}

	&.rain-slow .weather-rain-drop {
		width: 6px;
		height: 24px;
		background-image: url(data:image/gif;base64,R0lGODlhAgAIALMAAP//////AP8A//8AAAD//wD/AAAA/wAAABBgaEBsaHB4aP///wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAACAAgAAAQJEC2ZVrVYLRUBADs=);
		background-size: 6px 24px;
	}

	.weather-rain-drop {
		position: absolute;
	}
}
